@import "../../utils/mixins.scss";
@import "../../utils/consts.scss";

.MobileNav {
	position: fixed;

	margin: 0;
	padding: 0;
	top: $header-height-xs;
	left: 0;
	z-index: 4;
	visibility: visible;
	height: calc(100vh - 80px);
	width: 100vw;
	
	

	font-size: 18px;
	background-color: grey;
	border-bottom-left-radius: $m-nav-radius;
	
	transition-duration: 0.45s;

	&--hidden {
		left: 100%;
		visibility: hidden;
	}


	@media screen and (max-width: 970px) {
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;

	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: 100%;
		list-style: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	&__item {
		display: flex;
		height: 30px;
	}
		

		&__link {
			text-decoration: none;
			line-height: 6rem;
			@include upper-case;
			color: #cdd8e0;
			&:hover {
				color: #cdd8e0;
			}
		}
	}

