@import "../../utils/mixins.scss";
@import "../../utils/consts.scss";

.MobileNav {
	position: fixed;

	margin: 0;
	padding: 0;
	top: $header-height-xs;
	left: 0;
	z-index: 4;
	visibility: visible;
	height: calc(100vh - 80px);
	width: 100vw;

	background-color: $prime-color;
	border-bottom-left-radius: $m-nav-radius;

	transition-duration: 0.45s;

	&--hidden {
		left: 100%;
		visibility: hidden;
	}

	@media screen and (max-width: 970px) {
		display: flex;
		justify-content: center;
		align-items: start;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(1, auto); 
		row-gap: 24px;
		justify-items: start;
		align-items: start;

		list-style: none;
		padding: 0;
		margin: 48px 0;
		overflow: hidden;
	}

	&__link {
		font-size: 24px;
		text-decoration: none;
		line-height: 42px;
		@include uppercase;
		color: $shadow-color;
		&:hover {
			color: $shadow-color;
		}
	}
}
