@import "../../utils/mixins.scss";
@import "../../utils/consts.scss";

.article-wrapper {
	position: relative;
	max-width: $max-width-desktop;
	margin: $content-margin auto 20px;

	display: grid;
    grid-template-columns:  minmax(0,1fr)  minmax(0,5fr);
    grid-gap: 3rem;


	@media screen and (max-width: 970px) {
		margin: $content-margin-xs auto;
	}
}