@import "../../utils/consts.scss";

.Logo {
	align-items: center;
	width: $header-height;

	&__img {
		height: $logo-height;
		vertical-align: middle;
	}

	@media screen and (max-width: 970px) {
		width: $header-height-xs;
		
		&__img {
			height: $logo-height-xs;
		}
	}
}
