@import "../../utils/consts.scss";

.Logo {
	display: flex;
	align-items: center;
	margin: 0 30px;

	&__img {
		height: $logo-height;
		vertical-align: middle;
	}

	@media screen and (max-width: 970px) {

    margin: 0;
		&__img {
			height: $logo-height-xs;
		}
	}
}
