$bg-color: #ffffff;

$prime-text: #34495e;
$minor-text: #89939a;

$prime-color: #34495e;
$minor-color: #f6d100;
$shadow-color: #ebebeb;

$max-width-desktop: 1170px;

$header-height: 120px;
$header-height-xs: 80px;
$logo-height: 114px;
$logo-height-xs: 68px;

$m-nav-radius: 200px;
$line-size: 0.265rem;
