@import "./fonts.scss";

@mixin uppercase {
	font-size: 14px;
  font-weight: 500;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
}

@mixin h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	letter-spacing: -0.4px;
	margin: 0 0 8px 0;
}

@mixin md-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

@mixin sm-text {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

@mixin italic {
	font-style: italic;
}

@mixin link {
	text-decoration: none;
	color: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}




@mixin body-text {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #313237;


}
@mixin buttons {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	color: white;
}


@mixin h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 41px;
	letter-spacing: -0.01em;
	color: #313237;
}

@mixin h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 26px;
	color: #313237;
}
@mixin icons-font {
	font-style: normal;
	font-weight: 600;
	font-size: 9px;
	line-height: 12px;
	text-align: center;
	color: white;
}
@mixin placeholder {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #b4bdc4;
}
@mixin pagination-button {
	height: 32px;
	width: 32px;
	background-color: white;
	border: 1px solid #e2e6e9;
	box-sizing: border-box;
	@include body-text;
	color: black;
	margin: 0 4px;
	outline: none;

	&:hover {
		border: 1px solid #313237;
		color: #313237;
	}

	&:disabled {
		border: 1px solid #e2e6e9;
		color: #e2e6e9;
	}
	&--active {
		background-color: #313237;
		color: white;
	}
	&--arrow {
		margin: 0 12px;
	}
}
