@import "./utils/fonts.scss";
@import "./utils/consts.scss";

html {
  width: 100%;
  font-family: Poppins, sans-serif;
  overflow: auto;
  scrollbar-width: none;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}