@import "../../utils/mixins.scss";

.Nav {
	display: flex;
	width: 1200px;
	margin: auto;

  @media screen and (max-width: 970px) {
    display: none;
    position: absolute;
    left: 0;
    margin: 0;
    max-width: 320px;
    height: 100vh;
    width: 100vw;
    background-color: white;
  }

	&__list {
		display: flex;
    justify-content: space-between;
    align-items: stretch;
		width: 100%;
    height: 100%;
   	margin: 0;
    padding: 0;
    list-style: none;
	}
	  
	&__item {
		display: flex;
		align-items:  baseline;
		margin:0  auto;
	}

	&__link {
		text-decoration: none;
		line-height: 6rem;
		@include upper-case;
		color: #89939a;
		&:hover {
			color: #89939a;
		}
		&.active {
			color: #313237;
			border-bottom: 0.265rem solid orange;
		}
  }
}

