@import "../../utils/mixins.scss";
@import "../../utils/consts.scss";

.Nav {
	width: 100%;

	@media screen and (max-width: 970px) {
		display: none;
		position: absolute;
		left: 0;
		margin: 0;
		max-width: 320px;
		height: 0;
		width: 0;
		background-color: white;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		display: flex;
		align-items: center;
		margin: 0 auto;
	}

	&__logo {
		max-height: $logo-height;
		vertical-align: middle;
	}

	&__link {
		text-decoration: none;
		line-height: 6rem;
		@include upper-case;
		color: #89939a;
		&:hover {
			color: #89939a;
		}
		&.active {
			color: #313237;
			position: relative;

			&::before {
				content: "";
				border-bottom: $line-size  solid orange;
				display: block;
				width: 100%;
				position: absolute;
				bottom: 0;
			}
		}
	}
}