@import "../../utils/mixins.scss";
@import "../../utils/consts.scss";

.Nav {
	width: 100%;

	@media screen and (max-width: 970px) {
		display: none;
		position: absolute;
		left: 0;
		margin: 0;
		max-width: 320px;
		height: 0;
		width: 0;
		background-color: $body-color;
	}

	&__list {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		height: 100%;
		
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		display: flex;
		align-items: flex-end;
		margin: 0;
		padding: 0;
	}

	&__logo {
		max-height: $logo-height;
		vertical-align: middle;
	}

	&__link {
		padding: 0 16px;
		text-decoration: none;
		line-height: 48px;
		border-bottom: $line-size solid transparent;
		@include uppercase;
		color: $minor-text;
		&:hover {
			color: $minor-text;
			border-bottom: $line-size solid $minor-color;
		}
		&.active {
			color: $prime-text;
			border-bottom: $line-size solid $prime-color;
		}
	}
}